.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.rnd-container {
  height: 500px;
}

.App-link {
  color: #61dafb;
}

.border,
.element-outer-border .border {
  position: absolute;
  cursor: pointer;
  width: 0;
  height: 0;
  z-index: 999;
  border: transparent;
  opacity: 0;
}

.border.right,
.element-outer-border .border.right {
  border-right: 2px solid;
  right: 0;
  height: 100%;
}

.border.left,
.element-outer-border .border.left {
  border-left: 2px solid;
  left: 0;
  height: 100%;
}

.border.top,
.element-outer-border .border.top {
  border-top: 2px solid;
  top: 0;
  width: 100%;
}

.border.bottom,
.element-outer-border .border.bottom {
  border-bottom: 2px solid;
  bottom: 0;
  width: 100%;
}

.rect:hover .border,
.rect.active .border {
  border-color: red;
}

.test {
  width: 200px;
}

.grid-tiles__svg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}
